AWS_REGION=ap-south-1
DYNAMODB_TABLE=coach-trading
PROFIT_PARAMETER_NAME=/coach-trading/profit-percent
TELEGRAM_AUTHORIZED_USER_ID=
TELEGRAM_BOT_TOKEN_SECRET_ARN=
GROWW_SECRET_ARN=
GOOGLE_SECRET_ARN=
GOOGLE_SPREADSHEET_FOLDER_ID=
